<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/weather.png">
    <link rel="stylesheet" href="css/index.css">
    <title>Weather</title>
</head>
<body>
    <div class="container">
            <div class="container2">
                <div class="search">
                    <input type="text" placeholder="Location">
                    <button>search</button>
                </div>
                <div class="margin">
                    <p class = "temp"></p>
                    <p class = "location"></p>
                    <p class="weather"></p>
                </div>
                <div class="margin time">
                    <p class="date"></p>
                </div>
                <h1 class="error"></h1>
            </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>